.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100vw;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 600;
}

.progress__container {
  margin-block-start: 10%;
  border: 3px solid #3e3ef7;
  border-radius: 10px;
  inline-size: 320px;
  block-size: 568px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.progress_bar {
  width: 100%;
  border-radius: 50%;
  transition: opacity 0.5s;

}

.progress_bar .progress_bar-circle {
  transform-origin: center;
  transform: rotate(-90deg);
  fill: transparent;
  stroke: #3e3ef7;
  stroke-width: 4;
  transition: stroke-dashoffset 0.3s;
}

.control__block {
  block-size: 284px;
  display: flex;
  justify-content: center;

}

.control__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  block-size: 80%;
}

.input__progress {
  inline-size: 60px;
  block-size: 34px;
  border: 1px solid black;
  border-radius: 34px;
}

.control__list-item {
  display: flex;
  justify-self: space-between;
  align-items: center;
  gap: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media (max-width: 1000px) and (orientation: landscape) {
  .progress__container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    inline-size: 568px;
    block-size: 320px;
  }

  .control__block {
    block-size: 100%;
    margin-block-start: 70px;
  }
}